<context-param>
    <param-name>appTheme</param-name>
    <param-value>dark</param-value>
</context-param>

<servlet>
    <servlet-name>ThemeServlet</servlet-name>
    <servlet-class>com.jatin.servlets.ThemeServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ThemeServlet</servlet-name>
    <url-pattern>/theme</url-pattern>
</servlet-mapping>